@CHARSET "UTF-8";

*{
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;	
}

body {
	background-color: #F0E8E9;
	margin: 0!important;
}

a{
	text-decoration:none;
	font-weight: bold;	
}

h5{
	color:#4B3689;	
}

.headerWrapper {
	height: 62px;
	background-color: #901808;
	color:#FCFAE6;
	line-height:40px;
	padding:10px 20px;
	margin-bottom: 50px;
}

.headerWrapper a{
	color:#FCFAE6;
}

.headerSearchBar {
	margin-left: 15px;
	
}

.headerSearchBar:focus {
	outline: 0;
}


.right{
	float:right;
}

.left{
	float:left;	
	padding:0px!important;
}

.center{
	margin: 0 auto;
}

.logout{
	float:right;
	padding-top:8px;
}

.cursive{
	font: 400 70px/0.8 'Cookie', Helvetica, sans-serif;
  	color: #444444;
}

.loginBox {
	background-color: #FCFAE6;
	x width: 200px;
	height: 150px;	
	padding: 30px;
	box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
	x border: 1px solid black;
}

.loginField {
	margin: 5px 0;
	padding: 4px;
}

